@using System.Globalization

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["SubscriptionManager.Blazor.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["theme.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>
</html>
