@inject Localizer T

<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @T["Reconnect.RejoiningServer"]
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @T["Reconnect.RejoinFailedPrefix"] <span id="components-seconds-to-next-attempt"></span> @T["Reconnect.SecondsSuffix"]
        </p>
        <p class="components-reconnect-failed-visible">
            @T["Reconnect.FailedToRejoin"]
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            @T["Shared.Actions.Retry"]
        </button>
        <p class="components-pause-visible">
            @T["Reconnect.SessionPaused"]
        </p>
        <p class="components-resume-failed-visible">
            @T["Reconnect.FailedToResume"]
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            @T["Shared.Actions.Resume"]
        </button>
    </div>
</dialog>
